body {
  margin: 0;
}

/*Header*/

header {
  display: flex;
  width: 100%;
  position: fixed;
  background-color: white;
  font-size: 14px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  border-bottom: 1px solid black;
  height: 80px;
  z-index: 20;
}
header .logo {
  flex-grow: 1;
  align-items: center;
  color: mediumaquamarine;
  display: flex;
}
.logo img {
  margin: 0 10px 0 40px;
}
nav {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
nav a {
  margin-right: 30px;
  color: black;
}

/*Main Content*/

.main-content {
  display: flex;
  position: relative;
  top: 80px;
  font-family: Georgia, serif;
  color: black;
  width: 100%;
}
.column {
  margin: 30px 30px 60px 0;
  display: flex;
  flex-direction: column;
}
.column.large {
  width: 630px;
}
.column.medium {
  width: 300px;
}
.column.small {
  width: 240px;
}

/*Lead Story*/

.lead-story .image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  font-weight: bold;
  font-size: 40px;
  color: white;
  text-align: left;
  width: 630px;
  margin-top: 0px;
}
.lead-story {
  display: block;
}

/*Secondary Stories*/

.stories {
  display: flex;
  justify-content: space-between;
}
.story {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: space-between;
}
.text-content {
  display: block;
}
h2 {
  font-size: 30px;
  color: black;
  margin: 0px;
}
h4 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
p {
  font-size: 17px;
}
p.news-bites {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 10px 20px;
  border-bottom: 1px solid black;
}
.image-content {
  height: 300px;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
}
.image-content.earth {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
}
.image-content.cameraman {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
}
.image-content.cats {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}
.image-content.cookie {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-news-bite.png);
}
